*.class

# Package Files #
*.jar
*.war
*.ear

*.iml
.idea
out
swt-gui-transformer-core/target/
swt-gui-transformer-editor/target/
target/
*.ipr
*.iws

# maven release plugin #
*.releaseBackup
release.properties
*.versionsBackup
