*.class

# Package Files #
*.jar
*.war
*.ear

*.iml
.idea
out
baobab-core/target/
baobab-editor/target/
target/
*.ipr
*.iws

# maven release plugin #
*.releaseBackup
release.properties
*.versionsBackup
atlassian-ide-plugin.xml