<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="sgtEmbeddingService" class="net.milanaleksic.baobab.converters.EmbeddingService" />

    <bean id="sgtResourceBundleProvider" class="net.milanaleksic.baobab.providers.impl.SimpleResourceBundleProvider"/>

    <bean id="sgtObjectProvider" class="net.milanaleksic.baobab.providers.impl.AlwaysReturnNullObjectProvider"/>

    <bean id="sgtImageProvider" class="net.milanaleksic.baobab.providers.impl.AlwaysReturnEmptyImageProvider"/>

    <bean class="net.milanaleksic.baobab.providers.impl.ConfigurableBuilderProvider" />

    <bean class="net.milanaleksic.baobab.providers.impl.ConfigurableConverterProvider"/>

    <bean class="net.milanaleksic.baobab.providers.impl.ConfigurableShortcutsProvider"/>

    <bean class="net.milanaleksic.baobab.integration.loader.impl.SpringLoader" />

    <bean class="net.milanaleksic.baobab.converters.OldSchoolObjectCreator" />

    <bean class="net.milanaleksic.baobab.converters.ShortHandObjectCreator" />

    <bean class="net.milanaleksic.baobab.converters.ObjectConverter" />

    <bean class="net.milanaleksic.baobab.converters.typed.IntegerConverter" />

    <bean id="transformer" class="net.milanaleksic.baobab.Transformer" />

    <bean id="nodeProcessor" class="net.milanaleksic.baobab.converters.ObjectCreationNodeProcessor" />

</beans>
